@model Petbook.Models.BlogPost

<style>
    .blog-post-title {
        text-align: center;
        padding: auto;
        font-size: 20px;
        background-color: white;
        width: 1100px;
        height: 30px;
        margin: 10px auto;
    }

    .show-less {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 400px;
    }

    .owner {
        text-align: left;
        opacity: 0.5;
        font-size: 12px;
        /* width */
        :: -webkit-scrollbar

    {
        width: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px lightgrey;
        border-radius: 1px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: darkgray;
        border-radius: 1px;
    }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: gray;
        }
</style>

@if (ViewBag.ShowViewBtn == false)
{
    <a href="/BlogPosts/Index" style="margin-right:10px; float:right; text-decoration:none; font-size:12px; font-weight:bold; color:#eab676">View all</a>
    <div style="clear:both"></div>
    <br />
}

<div class="card-body" style="background-color:#f7f7f2; padding: 0; width:100%; height: 100%">
    <div class="row" style="--bs-gutter-x: 0rem;">
        <div class="d-flex col rounded-top" style="background-color: #eab676; width: 20%; margin:auto; align-self:center">
            <span class="card-title d-block mt-2" style="font-size: 15px; font-weight: 300; text-align:center; width:100%"><b>@Model.BlogPostTitle</b></span>
            <span class="owner">Posted by @Model.User.UserName</span>
        </div>
        <div class="card-body; width:100%; height:100% ">
            <div class="m-2" style="text-align:left">
                <i class="bi bi-list mt-5" style="font-size: 1rem; cursor:pointer" id="show-@Model.BlogPostId" onclick="show('@Model.BlogPostId')"></i>
                @if (ViewBag.ShowViewBtn == true)
                {
                    @if (User.IsInRole("Admin") || ViewBag.CurrentUser == Model.UserId)
                    {
                        <a style="float:right; margin-left:6px;" title="Edit" href="/BlogPosts/Edit/@Model.BlogPostId"><i class="bi bi-pencil-square" style="font-size: 1rem; cursor:pointer; color:black;"></i></a>
                    }
                    <a style="float:right" title="View" href="/BlogPosts/Show/@Model.BlogPostId"><i class="bi bi-eye" style="font-size: 1rem; cursor:pointer; color:black;"></i></a>
                }

                @if (ViewBag.ShowAllText == true)
                {
                    <div class="card-text" id="card-@Model.BlogPostId">@Html.Raw(Model.BlogPostContent)</div>
                }
                else
                {
                    <div class="card-text text-truncate" id="card-@Model.BlogPostId">@Html.Raw(Model.BlogPostContent)</div>
                }

            </div>
            <div class="d-flex justify-content-between col mt-4 mx-3">
                <span id="like-btn-@Model.BlogPostId">
                    <i id="like-btn-icon-@Model.BlogPostId" class="bi bi-hand-thumbs-up" style="font-size: 1.4rem"></i></a>
                    <span id="like-count-@Model.BlogPostId">@Model.BlogPostLikes.Count</span>
                </span>
            </div>
            <br />
        </div>

    </div>
</div>

<script>
    var likesCount_@Model.BlogPostId = @Model.BlogPostLikes.Count;

    $('#like-btn-' + @Model.BlogPostId).on('click', function (ev) {
        $.post("/BlogPostLikes/New/" + @Model.BlogPostId, null, function (data, status) {
            if (status == "success") {
                if (data == "Blog post with id " + @Model.BlogPostId + " liked") {
                            likesCount_@Model.BlogPostId ++;
                    $('#like-btn-icon-' + @Model.BlogPostId).removeClass("bi-hand-thumbs-up");
                    $('#like-btn-icon-' + @Model.BlogPostId).addClass("bi-hand-thumbs-up-fill");
                    $('#like-btn-icon-' + @Model.BlogPostId).css("color", "#EECD7A");
                } else {
                            likesCount_@Model.BlogPostId --;
                    $('#like-btn-icon-' + @Model.BlogPostId).removeClass("bi-hand-thumbs-up-fill");
                    $('#like-btn-icon-' + @Model.BlogPostId).addClass("bi-hand-thumbs-up");
                    $('#like-btn-icon-' + @Model.BlogPostId).css("color", "black");
                }
                $('#like-count-' + @Model.BlogPostId).html(likesCount_@Model.BlogPostId);
            }
            else {
                console.log("Error calling like/dislike");
            }
        });

    });
    $(document).ready(function () {
        $.post("/BlogPostLikes/IsLikedByCurrentUser/" + @Model.BlogPostId, null, function (data, status) {
            if (status == "success") {
                if (data == "Yes") {
                    $('#like-btn-icon-' + @Model.BlogPostId).removeClass("bi-hand-thumbs-up-fill");
                    $('#like-btn-icon-' + @Model.BlogPostId).addClass("bi-hand-thumbs-up");
                    $('#like-btn-icon-' + @Model.BlogPostId).css("color", "black");
                } else {
                    $('#like-btn-icon-' + @Model.BlogPostId).removeClass("bi-hand-thumbs-up");
                    $('#like-btn-icon-' + @Model.BlogPostId).addClass("bi-hand-thumbs-up-fill");
                    $('#like-btn-icon-' + @Model.BlogPostId).css("color", "#EECD7A");
                }
            }
        });
    });

    function show(blogPostId) {
        if ($("#card-" + blogPostId).hasClass("text-truncate")) {
            $("#card-" + blogPostId).removeClass("text-truncate");

        }
        else {
            $("#card-" + blogPostId).addClass("text-truncate");

            //if (blogPostContent.indexOf("<p>") != -1) {
            //    $("#card-" + blogPostId).text(blogPostContent.substring(blogPostContent.indexOf("<p>") + 3, blogPostContent.indexOf("</p>") - 3));
            //} else {
            //    $("#card-" + blogPostId).text(blogPostContent);
            //}
        }
    }
</script>