@model ApplicationUser

<div class="card-body">
	<div style="float:left; width:40%;"><img src="@Model.ProfilePhoto" class="rounded" style="width:90%; margin-right:10px" /></div>
	<div style="float:left; font-size:12px; width:60%">
		<span style="font-size:20px"><a class="text-decoration-none" style="color: #eab676;" href="/ApplicationUsers/Show/@Model.Id"><b>@Model.UserName</b></a></span><br /><br />
		Joined at @Model.JoinDate<br />
		<b>Phone: </b>@Model.PhoneNumber
		<a href="mailto: @Model.Email"><i class="bi bi-envelope" style="cursor:pointer; color:black;"></i></a>
	</div>
	<div style="clear:both;"></div>
</div>
